<!DOCTYPE html>{% load static %}
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
		<script src="{% static 'js/main.js' %}" type="text/javascript">
    <link rel="stylesheet" href="https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css">
    <script src="https://cdn.jsdelivr.net/npm/turbolinks@5.2.0/dist/turbolinks.min.js" type="text/javascript"></script>
    <script type="module" src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.3/dist/alpine.min.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.3/dist/alpine-ie11.min.js" defer></script>
    <title>{% block title %}{% endblock %}</title>

    {% block head %}
      {% block js %}
      {% block extrajs %}{% endblock %}
      {% endblock %}

    {% block extrahead %}{% endblock %}
    {% endblock %}
  </head>
  {% load menu %}
  <body class="{% block body_class %}{% endblock %}">
    <div class="{% block container_class %}flex-grow overflow-y-auto {% endblock %}">
      {% block content %}{% endblock %}
    </div>
    {% include "footer.html" %}
</div>
  </body>
</html>
