<!-- this example requires tailwind css v2.0+ -->
<footer class="bg-white">
  <div class="max-w-7xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8">
    <nav class="-mx-5 -my-2 flex flex-wrap justify-center" aria-label="Footer">
      <div class="px-5 py-2">
        <a href="/score" class="text-base text-gray-500 hover:text-gray-900">
          Mitmachen!
        </a>
      </div>

      <div class="px-5 py-2">
        <a href="/" class="text-base text-gray-500 hover:text-gray-900">
          Wie funktioniert es?
        </a>
      </div>

      <div class="px-5 py-2">
        <a href="https://musterdatenkatalog.de" target="_blank" class="text-base text-gray-500 hover:text-gray-900">
          Musterdatenkatalog
        </a>
      </div>


    </nav>
    <div class="mt-8 grid grid-rows-none md:grid-cols-4 md:gap-4 items-center justify-center space-x-6">
			<div id="bertelsmann" class=" max-w-xs danksagungen">
        <div class="partner-dank-icons flex justify-center"><a href="https://www.bertelsmann-stiftung.de/de/startseite" target="_blank" rel="noreferrer noopener"><img src="https://www.bertelsmann-stiftung.de/fileadmin/files/musterdatenkatalog/BSt_Logo.png" alt="Bertelsmann Stiftung"></a>
        </div>
      </div>
      <div id="verwaltungsforschung" class=" max-w-xs danksagungen"><div class="partner-dank-icons flex justify-center"><a href="https://www.kdz.eu/" target="_blank" rel="noreferrer noopener"><img src="https://www.bertelsmann-stiftung.de/fileadmin/files/musterdatenkatalog/verwaltungsforschung.png" alt="KDZ Logo"></a>
        </div>
      </div>
      <div id="govdata" class="danksagungen">
        <div class="partner-dank-icons flex justify-center"><a href="https://www.govdata.de/" target="_blank" rel="noreferrer noopener"><img src="https://www.bertelsmann-stiftung.de/fileadmin/files/musterdatenkatalog/govdata.png" alt="Govdata Logo"></a>
        </div>
      </div>
      <div id="open-knowledge" class="max-w-xs danksagungen">
        <div class="partner-dank-icons  flex justify-center"><a href="https://okfn.de/" target="_blank" rel="noreferrer noopener"><img class="" src="https://www.bertelsmann-stiftung.de/fileadmin/files/musterdatenkatalog/OKFDE_Logo_black.png" alt="Open Knowledge Foundation Logo"></a>
        </div>
      </div>
    </div>
    <div class="flex justify-center max-w-7xl mx-auto py-12 text-xs text-gray-400">
      <div class="px-5 py-2">
        <a href="/impressum" class="">
          Impressum
        </a>
      </div>
      <div class="px-5 py-2">
        <a href="/datenschutz" class="">
          Datenschutz
        </a>
      </div>
    </div>
  </div>
</footer>
