{% extends 'base.html' %}
{% block title %}{{dataset.title}}{% endblock %}
{% block body_class %} relative font-sans bg-primary-blue {% endblock %}
{% load misc %}
{% block content %}
<main class="">
  {% include "score/header.html" with  title=dataset.title %}

  <div class="bg-primary-blue" x-data="score()">
        <div class="px-2 md:px-0 space-y-0.5 max-w-4xl mx-auto">
          <div class="md:flex md:flex-wrap bg-white bg-opacity-30">
            <div
              class="w-full md:w-1/4 p-0 md:p-4 border-0 md:border-r-2 md:border-primary-blue"
            >
              <h2 class="md:hidden text-sm leading-5 text-white p-4">
                {% block headline_text_mobile %}Das Machine Learning Modell schlägt vor:{% endblock %}
              </h2>
              {% if wizard.steps.current == "modeldatasets" or wizard.steps.current == "top3" %}
                {% setvar 2 as current_step %}
              {% elif wizard.steps.current == "write_in" %}
                {% setvar 3 as current_step %}
              {% else %}
                {% setvar 1 as current_step %}
              {% endif %}
							{% include "score/sidebar.html" with current_step=current_step %}
              <form x-ref="foo" action="" method="post">{% csrf_token %}
                <div class="hidden">
                {{ wizard.management_form  }}
                {% if wizard.form.forms %}
                {{ wizard.form.management_form  }}
                {% for form in wizard.form.forms %}
                {{ form  }}
                {% endfor %}
                {% else %}
                {{ wizard.form  }}
                {% endif %}
                </div>
              </form>

          <ul class="md:hidden">
                <li
                  class="relative hover:bg-white text-primary-blue md:text-black p-0 md:p-2 bg-white md:bg-opacity-30"
                >
                  <a href="#" class="inline-block w-full py-2 md:py-0 pl-10">
                    <span
                      class="flex items-center justify-center h-6 w-6 rounded-full text-white md:text-black bg-primary-blue absolute left-2 top-2 {% if current_step == 2 %}bg-primary-blue{%else%}white{% endif %}"
                      >
                      {% if current_step == 2 %}
                        <!-- Heroicon name: check -->
                        <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                        </svg>
                      {% else %}
                        1
                      {% endif %}
                    </span
                    >
                    <span class="">
                      Thema{% if current_step == 2 %}: {{modelsubject}}{% endif %}
                    </span>
                    {% if current_step == 1 %}
                      {% include "chevron-down.html" with classes="absolute w-5 h-5 inline-block right-1 md:hidden" %}
                    {% else %}
                      {% include "chevron-up.html" with classes="absolute w-5 h-5 inline-block right-1 md:hidden" %}
                    {% endif %}
                  </a>
                  <ul id="sub" x-cloak class="text-white bg-primary-blue md:hidden">
                    {% block data_mobile %}{% endblock %}
                  </ul>
                   <div
                     id="all-subject md:hidden"
                     x-show="showAllSubjects">
                    <div
                      class="flex justify-between items-start space-x-6 bg-primary-blue py-4"
                    >
                      <!-- A-F -->
                      <a href="#A" class="w-1/4 px-1 py-4 text-center bg-white">
                        <span
                          class="text-sm font-medium leading-6 tracking-widest text-black"
                          >A-F</span
                        >
                      </a>

                      <!-- G-L -->
                      <a
                        href="#G"
                        class="w-1/4 px-1 py-4 text-center bg-white md:w-32"
                      >
                        <span
                          class="text-sm font-medium leading-6 tracking-widest text-black"
                          >G-L</span
                        >
                      </a>

                      <!-- M-R -->
                      <a
                        href="#M"
                        class="w-1/4 px-1 py-4 text-center bg-white md:w-32"
                      >
                        <span
                          class="text-sm font-medium leading-6 tracking-widest text-black"
                          >M-R</span
                        >
                      </a>

                      <!-- S-Z -->
                      <a
                        href="#S"
                        class="w-1/4 px-1 py-4 text-center bg-white md:w-32"
                      >
                        <span
                          class="text-sm font-medium leading-6 tracking-widest text-black"
                          >S-Z</span
                        >
                      </a>
                    </div>
                    <!--TOPIC-->
                    <div
                      class="pt-2 flex-grow overflow-y-auto space-y-0.5 md:space-y-2 bg-primary-blue"
                    >
                      {% regroup all_modelsubjects by first_letter as letter_list %}
                      {% for letter in letter_list %}
                      <!-- A -->
                      <a name="{{ letter.grouper }}"></a>
                      <div class="bg-white bg-opacity-20">
                        <!-- Head -->
                        <div
                          class="px-3 py-2 bg-white bg-opacity-25 md:px-6 md:py-3"
                        >
                          <span
                            class="text-2xl font-medium leading-7 text-white"
                            >{{ letter.grouper }}</span
                          >
                        </div>
                        <!-- Topics -->
                        <div class="">
                          <ul class="md:space-y-4">
                            {% for item in letter.list %}
                            <li class="py-4 px-3 {% if not forloop.last %}border-b border-white{% endif %}">
                              <a
                                class="inline-block text-2xl leading-4 text-white md:text-xl"
                                @click.prevent="setModelsubject({{ item.pk }});$refs.foo.submit();"
                                href=""
                                >
                                {{item.title}}
                                {% include "chevron-right.html" with classes="absolute w-5 h-5 inline-block right-1 md:hidden" %}
                              </a>
                            </li>
                           {% endfor %}
                          </ul>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                  <!-- eo all subject -->
                </li>
                <li
                  class="relative hover:bg-white text-primary-blue md:text-black p-0 md:p-2 bg-white md:bg-opacity-30"
                >
                  <a href="#" class="inline-block w-full py-2 md:py-0 pl-10">
                    <span
                      class="flex items-center justify-center h-6 w-6 rounded-full text-white md:text-black bg-primary-blue absolute left-2 top-2"
                      >2</span
                    >
                    Bezeichnung
                    {% if current_step == 2 %}
                      {% include "chevron-down.html" with classes="absolute w-5 h-5 inline-block right-1 md:hidden" %}
                    {% else %}
                      {% include "chevron-right.html" with classes="absolute w-5 h-5 inline-block right-1 md:hidden" %}
                    {% endif %}
                  </a>
                  <ul id="sub" class="text-white bg-primary-blue md:hidden">
                    {% block data_mobile_step_2 %}{% endblock %}
                  </ul>
                </li>
              </ul>
            </div>
            <div class="hidden md:block md:w-3/4 px-4 py-10">
              <!--SUBTILE-->
              <h2 class="text-md leading-5 text-white">
                {% block headline_text %}Das Machine Learning Modell schlägt vor:{% endblock %}
              </h2>
              <!--EO SUBTILE-->
              <ul class="w-full">
                {% block data_desktop %}{% endblock %}
              </ul>
              {% block action_desktop %}{% endblock %}
              <button
                class="px-4 py-2 text-white bg-primary-blue mt-4 hover:bg-white hover:text-primary-blue hover:border-primary-blue"
                x-on:click.prevent="{% block primary_action_desktop %}{% endblock %}"
              >
              {% block primary_action_text_desktop %}{% endblock %}
              </button>
              <button
                x-on:click.prevent="{% block secondary_action_desktop %}{% endblock %}"
                class="px-4 py-2 text-white border border-2 border-primary-blue mt-4 hover:bg-primary-blue hover:border-white"
              >
                {% block secondary_action_text_desktop %}{% endblock %}
              </button>
							{% block modal %}{% endblock %}
            </div>
          </div>
				<!-- Descriptions -->
        <section class="space-y-0.5 pb-2">
          <!-- Titel -->
          {% include "data-entry.html" with title="Titel" text=dataset.title %}
          <!-- Beschreibung einklappen -->
          {% with max_words=25 description_count=dataset.description|wordcount %}
          <div class="relative px-6 py-5 bg-white" x-data="{show: {% if description_count > max_words %}false{% else %}true{% endif %} }">
            <!-- Close button -->
            <button @click="show = !show" class="absolute inline-flex items-center justify-center top-0 right-0 w-8 h-8 bg-primary-blue">
              <!-- Customized Heroicon Plus -->
              <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path x-show="show" stroke-width="3" d="M20 12H4" />
                <path x-show="!show" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
              </svg>
            </button>

            <span class="block text-sm font-medium leading-5 uppercase text-primary-blue md:text-xl">Beschreibung</span>
            <svg
              class="w-9 h-6 text-black"
              viewBox="0 0 48 24"
              shape-rendering="crispEdges"
              xmlns="http://www.w3.org/2000/svg"
              >
              <line x1="0" y1="12" x2="48" y2="12" stroke-width="2" stroke="currentColor" />
            </svg>
              <div x-show="!show" class="leading-5 md:text-xl">
                {{dataset.description | truncatewords_html:max_words | safe }}
              </div>
              {% if description_count > max_words %}
              <div x-show="show" class="leading-5 md:text-xl">
                {{dataset.description | safe }}
              </div>
              {% endif %}
          </div>
          {% endwith %}

          <div class="relative px-6 py-5 bg-white">
            <span class="block text-sm font-medium leading-5 uppercase text-primary-blue md:text-xl">Link zum Portal</span>
            <svg
              class="w-9 h-6 text-black"
              viewBox="0 0 48 24"
              shape-rendering="crispEdges"
              xmlns="http://www.w3.org/2000/svg"
              >
              <line x1="0" y1="12" x2="48" y2="12" stroke-width="2" stroke="currentColor" />
            </svg>
              <div class="leading-5 md:text-xl">
                <a href="{{dataset.url}}" target="_blank">{{dataset.url}}</a>
              </div>
          </div>
          <div class="relative px-6 py-5 bg-white">
            <span class="block text-sm font-medium leading-5 uppercase text-primary-blue md:text-xl">Kategorien aus dem Datensatz</span>
            <svg
              class="w-9 h-6 text-black"
              viewBox="0 0 48 24"
              shape-rendering="crispEdges"
              xmlns="http://www.w3.org/2000/svg"
              >
              <line x1="0" y1="12" x2="48" y2="12" stroke-width="2" stroke="currentColor" />
            </svg>
              <div class="leading-5 md:text-xl">
                {{dataset.categories.all|join_by_attr:'title'}}
              </div>
          </div>
          {% include "data-entry.html" with title="Stadt" text=dataset.city %}
          {% include "data-entry.html" with title="Geändert am" text=dataset.metadata_updated_at %}
					</section>
        </div>
      </div>
</main>
{% endblock %}
