{% extends 'base.html' %}

{% block content %}
<div class="mt-10 mx-auto max-w-screen-xl px-4 sm:px-6 md:mt-16 lg:mt-20">
<div class="prose lg:prose-xl">
<h2 class="blog-post-title">Impressum</h2>
<h4>Angaben gemäß § 5 TMG, § 55 RStV</h4>
<h5>Verantwortlich für den Inhalt dieser Website:</h5>
<p>Bertelsmann Stiftung<br>
Carl-Bertelsmann-Str. 256<br>
33311 Gütersloh<br>
Tel: +49 5241-810<br>
Fax: +49 5241-81681396<br>
Mail: info (at) bertelsmann-stiftung.de<br>
Web:<a href="http://www.bertelsmann-stiftung.de" target="_blank" rel="noopener noreferrer"> http://www.bertelsmann-stiftung.de</a></p>
<p>Die Bertelsmann Stiftung ist eine gemeinnützige Stiftung des privaten Rechtes im Sinne von Abschnitt 1 des Stiftungsgesetzes für das Land Nordrhein-Westfalen mit Sitz in Gütersloh.</p>
<h5>Die Bertelsmann Stiftung wird durch ihren Vorstand vertreten:</h5>
<p>Dr. Ralph Heck (Vorsitzender)<br>
Liz Mohn (stv. Vors.)<br>
Dr. Jörg Dräger<br>
Dr. Brigitte Mohn</p>
<h5>Vorsitzender des Kuratoriums:</h5>
<p>Prof. Dr.-Ing. Werner J. Bauer</p>
<h5>Zuständige Aufsichtsbehörde:</h5>
<p>Bezirksregierung Detmold, Leopoldstr. 15, 32756 Detmold</p>
<h5>UST ID:</h5>
<p>DE 126 76 80 30</p>
<h5>Inhaltlich verantwortlich:</h5>
<p>Mario Wiedemann</p>
<p>&nbsp;</p>
<h5>Haftungshinweis:</h5>
<p>Diese Website wird mit größtmöglicher Sorgfalt erstellt. Dennoch können wir keine Gewähr für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte geben. Die Nutzung erfolgt auf eigene Gefahr des jeweiligen Nutzers. Durch die Nutzung kommt kein Vertragsverhältnis zwischen Bertelsmann Stiftung und Nutzer zustande. Namentlich gekennzeichnete Beiträge fremder Autoren geben nicht immer die Meinung der Bertelsmann Stiftung wieder.</p>
<p>Unsere Internetseiten enthalten Links auf externe Webseiten. Diese Links haben einen reinen Informationszweck und wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße hin überprüft. Rechtsverstöße waren nicht ersichtlich. Auf die Entwicklung der Inhalte dieser verlinkten Webseiten haben wir jedoch keinen Einfluss. Für den Inhalt der verlinkten Seiten sind daher ausschließlich deren Betreiber verantwortlich. Die Bertelsmann Stiftung distanziert sich von allen Inhalten, die nach der Verlinkung geändert wurden. Eine ständige Kontrolle der externen Links ohne konkrete Anhaltspunkte für eine Rechtsverletzung ist uns leider nicht möglich.</p>
<p>In jedem Fall gilt, sollte uns eine Rechtsverletzung bekannt werden, werden wir den entsprechenden Link oder die betreffenden Inhalte unverzüglich von unserer Website entfernen.</p>
<h5>Urheberrecht:</h5>
<p>Die Inhalte und Werke auf dieser Website unterliegen dem deutschen Urheberrecht. Sofern im Zusammenhang mit dem auf der Website dargestellten oder zum Download angebotenen Dokument keine weiteren Regelungen – wie zum Beispiel die Bereitstellung unter einer Open-Content-Lizenz –&nbsp; getroffen werden, ist insbesondere für Vervielfältigungen, Bearbeitungen, Verbreitungen sowie jede Form der Verwertung die vorherige Zustimmung der Bertelsmann Stiftung oder des jeweiligen Rechteinhabers einzuholen. Im Übrigen ist nur die Herstellung von Kopien und Downloads für den privaten, nicht kommerziellen Gebrauch erlaubt.</p>
</div>
</div>
{% endblock %}
