{% extends 'base.html' %}
{% block body_class %} relative font-sans bg-primary-blue {% endblock %}
{% load misc %}
{% block content %}
<main class="space-y-8 md:space-y-0">
  <!-- Page Heading -->
  <div class="bg-white">
    <header class="max-w-4xl px-8 py-8 mx-auto md:py-10">
      <span class="text-sm font-medium leading-6 uppercase md:text-xl text-primary-blue"
            >{{ dataset.categories.all|join_by_attr:'title'}}
      </span>
        <svg
          class="w-9 h-6 text-black"
          viewBox="0 0 48 24"
          shape-rendering="crispEdges"
          xmlns="http://www.w3.org/2000/svg"
          >
          <line x1="0" y1="12" x2="48" y2="12" stroke-width="3" stroke="currentColor" />
        </svg>
          <h1 class="text-xl leading-6 md:text-7xl md:font-medium break-words">
            {{dataset.title}}
          </h1>
    </header>
  </div>

  <div class="bg-primary-blue" x-data="{ modeldataset: false }">
    <div class="max-w-4xl mx-auto md:space-y-8 md:bg-white md:bg-opacity-20 md:py-8">
      <!-- Topic Suggestion -->
      <div class="px-8">
        <span class="text-sm leading-5 text-white md:text-xl">Das Machine Learning Modell schlägt vor:</span>
        <svg
          class="h-6 text-white md:h-8 w-9"
          viewBox="0 0 48 24"
          shape-rendering="crispEdges"
          xmlns="http://www.w3.org/2000/svg"
          >
          <line x1="0" y1="12" x2="48" y2="12" stroke-width="3" stroke="currentColor" />
        </svg>

          <div class="pb-4">
            <div class="block text-xl leading-5 text-white md:text-7xl md:font-medium">
              <div class="h-16">
                <span
                  class="absolute"
                  x-show="!modeldataset"
                  x-transition:leave="transition transform ease-out duration-1000"
                  x-transition:leave-start="opacity-100 translate-x-0"
                  x-transition:leave-end="opacity-0 -translate-x-full"
                  >{{modeldataset.modelsubject}}</span>
                <span
                  x-cloak
                  class="hide absolute"
                  x-show="modeldataset"
                  x-transition:enter="transition transform ease-out duration-1000"
                  x-transition:enter-start="opacity-0 translate-x-full"
                  x-transition:enter-end="opacity-100 translate-x-0"
                  >{{modeldataset.title}}</span>
              </div>
              <!-- Probability with question Icon -->
              <div class="flex items-center space-x-4" x-show="!modeldataset">
                <span class="inline-flex items-baseline justify-center text-xs leading-7 font-normal text-white md:text-xl mt-2"
                      >60% Wahrscheinlichkeit
                </span>
                  {% include "question-mark.html" %}
              </div>
            </div>
            <div class="realtive">
              <span class="block mt-4 text-sm leading-6 text-white md:text-xl md:mt-8" x-show="!modeldataset">Ist das das korrekte <strong class="text-white font-normal">Thema</strong> ?</span>
              <span x-cloak class="block hide mt-4 text-sm leading-6 text-white md:text-xl md:mt-8" x-show="modeldataset">Ist das der korrekte <strong class="text-white font-normal">Bereich</strong>?</span>
            </div>
            {% include "yes-no-form.html" %}
          </div>
      </div>

      <div class="space-y-0.5 bg-primary-blue">
        <!-- Alternative Topics -->
        <section
          class="px-2 md:px-0 space-y-0.5"
          x-show.immediate="!modeldataset"
          >
          <div>
              <div class="px-6 bg-white bg-opacity-30 md:px-8 md:bg-opacity-40">
                <h3 class="py-3 text-sm text-white md:text-xl">Alternative Themen wären:</h3>
              </div>
              <!-- Bevölkerung -->
              <div x-data="{ show: true }">
              <div
                class="flex items-center justify-between px-6 py-2 bg-white bg-opacity-20 md:px-8"
                >
                <div class="flex flex-col mt-2">
                  <span class="text-xl leading-4 text-white md:text-2xl">Bevölkerung</span>
                  <!-- Probability with question Icon -->
                  <div class="flex items-center space-x-4">
                    <span
                      class="inline-flex items-baseline justify-center text-xs leading-7 text-white md:text-base"
                      >60% Wahrscheinlichkeit
                    </span>
                      {% include "question-mark.html" %}
                  </div>
                </div>
                <!-- Arrow down icon -->
                <button
                  @click="show = !show"
                  aria-label="Mehr zu Bevölkerung anzeigen"
                  class="inline-flex justify-center py-1 rounded-full ring-white ring-opacity-50 items-cemter w-7 h-7 focus:outline-none md:focus:ring"
                  >
                  {% include "chevron-up.html" with classes="w-6 h-6 text-white" %}
                </button>
              </div>
              <div class="px-6 pt-2 pb-8 bg-white bg-opacity-20 md:px-8" x-show="show">
                <span class="block text-sm leading-6 text-white md:text-xl">Ist das das korrekte Thema?</span>

                <div class="flex items-center justify-between mt-2 md:mt-4 md:justify-start md:space-x-14">
                  {% include "yes-no-form.html" %}
                </div>
              </div>
            </div>

          </div>
          <!-- Kommune -->
          <div 
                     class="flex items-center justify-between px-6 py-2 bg-white md:px-8 bg-opacity-20"
                     x-data="{ show: true }"
                     >
                     <div class="flex flex-col mt-2">
                       <span class="text-xl leading-4 text-white md:text-2xl">Kommune</span>
                       <!-- Probability with question Icon -->
                       <div class="flex items-center space-x-4">
                         <span class="inline-flex items-baseline justify-center text-xs leading-7 text-white md:text-base"
                               >20% Wahrscheinlichkeit
                         </span>
                           {% include "question-mark.html" %}
                       </div>
                     </div>

                     <!-- Arrow down icon -->
                     <button
                       @click="show = !show"
                       aria-label="Mehr zu Kommune anzeigen"
                       class="inline-flex justify-center py-1 rounded-full ring-white ring-opacity-50 items-cemter w-7 h-7 focus:outline-none md:focus:ring"
                       >
                       {% include "chevron-up.html" with classes="w-6 h-6 text-white" %}
                     </button>
          </div>
        </section>

        <!-- Descriptions -->
        <section class="px-2 md:px-0 space-y-0.5 pb-2">
          <!-- Titel -->
          {% include "data-entry.html" with title="Titel" text=dataset.title %}
          <!-- Beschreibung einklappen -->
          {% with max_words=25 description_count=dataset.description|wordcount %}
          <div class="relative px-6 py-5 bg-white" x-data="{show: {% if description_count > max_words %}false{% else %}true{% endif %} }">
            <!-- Close button -->
            <button @click="show = !show" class="absolute inline-flex items-center justify-center top-0 right-0 w-8 h-8 bg-primary-blue">
              <!-- Customized Heroicon Plus -->
              <svg class="w-6 h-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path x-show="show" stroke-width="3" d="M20 12H4" />
                <path x-show="!show" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
              </svg>
            </button>

            <span class="block text-sm font-medium leading-5 uppercase text-primary-blue md:text-xl">Beschreibung</span>
            <svg
              class="w-9 h-6 text-black"
              viewBox="0 0 48 24"
              shape-rendering="crispEdges"
              xmlns="http://www.w3.org/2000/svg"
              >
              <line x1="0" y1="12" x2="48" y2="12" stroke-width="2" stroke="currentColor" />
            </svg>
              <div x-show="!show" class="leading-5 md:text-xl">
                {{dataset.description | truncatewords_html:max_words | safe }}
              </div>
              {% if description_count > max_words %}
              <div x-show="show" class="leading-5 md:text-xl">
                {{dataset.description | safe }}
              </div>
              {% endif %}
          </div>
          {% endwith %}

          {% include "data-entry.html" with title="Geändert am" text=dataset.updated_at %}
      </div>
</main>
{% endblock %}
