<!-- Page Heading -->
<div class="bg-white">
  <header class="max-w-4xl px-8 py-8 mx-auto md:py-10">
    <span class="text-sm font-medium leading-6 uppercase md:text-xl text-primary-blue"
          >{{ categories }}
    </span>
      <svg
        class="w-9 h-6 text-black"
        viewBox="0 0 48 24"
        shape-rendering="crispEdges"
        xmlns="http://www.w3.org/2000/svg"
        >
        <line x1="0" y1="12" x2="48" y2="12" stroke-width="3" stroke="currentColor"/>
      </svg>
        <h1 class="text-xl leading-6 md:text-7xl md:font-medium break-words">
          {{ title }}
        </h1>
  </header>
</div>

