<!--SIDEBAR-->
<nav aria-label="Progress" class="hidden md:block">
  <ol class="overflow-hidden">
    <li class="relative pb-10">
      <!-- Current Step -->
      <div
        class="-ml-px absolute mt-0.5 top-4 left-4 w-0.5 h-full bg-gray-200"
        aria-hidden="true"
      ></div>
      <a
        href="#"
        class="relative flex items-center group"
        aria-current="step"
      >
        <span class="h-9 flex items-center" aria-hidden="true">
          <span
            class="relative z-10 w-8 h-8 flex items-center justify-center bg-white flex-shrink-0 z-10 w-8 h-8 flex items-center justify-center border-2 border-primary-blue rounded-full group-hover:bg-primary-blue"
          >
            <span class="text-gray-500 group-hover:text-white"
              >1</span
            >
          </span>
        </span>
        <span class="ml-4 min-w-0 flex flex-col">
          <span
            class="text-md font-semibold uppercase tracking-wide text-white"
            >Thema</span
          >
        </span>
      </a>
    </li>

    <li class="relative">
      <a
        href="#"
        class="relative flex items-center group"
        aria-current="step"
      >
        <span class="h-9 flex items-center" aria-hidden="true">
          <span
            class="relative z-10 w-8 h-8 flex items-center justify-center bg-white flex-shrink-0 z-10 w-8 h-8 flex items-center justify-center border-2 border-grey-500 rounded-full group-hover:bg-primary-blue"
          >
            <span class="text-gray-400 group-hover:text-white"
              >2</span
            >
          </span>
        </span>
        <span class="ml-4 min-w-0 flex flex-col">
          <span
            class="text-md font-semibold uppercase tracking-wide text-gray-100"
            >Bezeichnung</span
          >
        </span>
      </a>
    </li>
  </ol>
</nav>
