{% extends "admin/change_list.html" %}


{% block content_title %}
{% endblock %}

{% block result_list %}

<div class="results">
    <table>
        <thead>
            <tr>
                <th> <div class="text"> <a href="#">Datum</a> </div> </th>
                <th> <div class="text"> <a href="#"># Bewertungen</a> </div> </th>
            </tr>
        </thead>
        <tbody>
            {% for row in summary %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td> {{ row.date }} </td>
                <td> {{ row.scores }} </td>
            </tr>
            {% endfor %}
            <tr style="font-weight:bold; border-top:2px solid #DDDDDD;">
                <td> Total </td>
                <td> {{ summary_total.total }} </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
